@model ModelsLayer.Administration.Models.WillisEmployee

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Home/WillisMaster_CRUD.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>WillisEmployee</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmployeeUserID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmployeeUserID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DisplayName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DisplayName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.WillisEmployeeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
