@model ModelsLayer.Claim

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Home/WillisMaster.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Claim</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ClaimTemplateID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ClaimTemplateID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ClaimStatu.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ClaimStatu.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContractID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContractID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WillisEmployeeID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WillisEmployeeID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
